header{
    color: lightgreen;
    background-color: darkgreen;
    text-align: center;
    font: bold 2.45em/2em Georgia, 'Times New Roman', serif;
}

h3{
    color: rgb(3, 102, 0);
    font-size: 1.2em;
}

h4{
    font-size: 0.85em;
}

ul{
    font-style: italic;
}

body {
    background-color: rgb(194, 245, 194);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .875em;
}

.gameNames {
    color: dodgerblue;
}

#gameSection {
    font-weight: bold;
}