header{
    background-color: rgb(182, 230, 188);
    color: rgb(46, 121, 56);
    text-align: center;
    font: bold 2.45em/2em Georgia, 'Times New Roman', serif;
}

body {
    background-color: rgb(139, 210, 147);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875em;
}

h2{
    font-size: 0.85em;
}

h3{
    color: rgb(36, 131, 48);
    font-size: 1.2em;
}

ul{
    font-weight: bold;
    list-style-type: none;
}
#gameSection {
    font-style: italic;
}

.gameNames {
    color: hsl(3, 73%, 19%);
}

footer {
    background-color: rgb(97, 185, 108);
    line-height: 1.25em;
}

nav {
    background-color:rgb(255, 205, 202);
    line-height: 200%;
    display: block;
}

nav li {
    display: inline;
    padding-right: 40px;
    list-style-type: none;
}

nav a:link {
    color: rgb(201, 85, 79);
    text-decoration: none;
}

nav a:visited {
    color: rgb(201, 85, 79);
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: rgb(169, 52, 46);
    text-decoration: underline;
}